venv/
PyPSA Resources/
outputs/
old/
experiments/
config/paths.local.yaml
__pycache__/
data/network_500kv/generators_pendingmanualpypsa.csv
*.pyc
*.nc

# Excel temporary files
~$*.xlsx

# QGIS temporary files
*.qgz~
*.gpkg-wal
*.gpkg-shm

